body {
   background-image: url(blud.png);
   margin: 0;
   font-family: 'YourPreferredFont', sans-serif;
}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background-color: #333;
}

button {
   font-weight: bold;
   cursor: pointer;
}

.main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 10px;
}

.priv {
   width: 100%;
   margin-bottom: 10px;
}

.btn {
   height: 100%;
   width: 100%;
}

.users, .fighters, .comments {
   height: 100%;
   border: 1px solid black;
   margin-bottom: 10px;
}

table {
   background-color: white;
   border: 5px solid black;
   width: 100%;
   text-align: center;
}

td, th {
   border: 2.5px solid black;
   text-align: center;
}

.userstable th,
.userstable td {
   border: 1px solid black;
   padding: 5px;
   text-align: left;
   width: auto;
}

.rg1, .rg2, .rg3 {
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
}

